h1,h2,h3,h4,h5,h6
 {
        font-family: "Love Ya Like A Sister", cursive;
        font-weight: 400;
        font-style: normal;
    }
   
   
 
    
p{
font-family: "Instrument Sans", sans-serif;
    font-weight: medium;
    font-size: 18px;
    line-height: 30px;
    color:black;

}
a{
font-family: "Inter", sans-serif;
}
h2{
    font-size: 50px;
    color:#FEFCF8;
}
.bg-hero{
    background-color: #344D82;}
  
.bg-projects{
 background-color: #344D82;
}
    
    

.btn-branding{
    font-family: "Inter", sans-serif;
    font-weight: medium;
    border:  2px solid rgb(236, 72, 36);
   background: rgba(254, 128, 100, 1);
   padding: 16px 12px;
   color: rgba(26, 24, 24, 1);
   }
   .btn-branding-type{
    font-weight: medium;
        border: 2px solid rgb(236, 72, 36);
        background: rgba(254, 128, 100, 1);
        color: rgba(26, 24, 24, 1);
        padding:10px 16px;
   }
   

h1{
       font-size: 64px;
       color: #FEFCF8;
       line-height: 1.1;
       font-weight: bold;
       text-align: center;

      
}
.hero {
        line-height: 1.45;
    color: #FEFCF8;
    font-size: 28px;

}
.img-fluid{
    border-radius: 5px;
    background-color: #192747;
   
}
@media (max-width:960px){
    text-align: center;
}